In [ ]:
for i  in range(0,10):
 if i==3:
   break
 print(i)

0
1
2

In [ ]:
for i  in range(0,10):
 if i==3:
   break
   print(i)

In [ ]:
print(i)

3

In [ ]:
for i in range(0,10):
 if i==3:
  continue
 print(i)

0
1
2
4
5
6
7
8
9

In [ ]:
print(i)

9

In [ ]:
for i in range(0,5):
 for j in range(2,6):
  print(i,j)           #here break statement is only applicable for for loop of j
  if j==3:
    break

0 2
0 3
1 2
1 3
2 2
2 3
3 2
3 3
4 2
4 3

In [ ]:
for i in range(0,5):
 for j in range(1,5):
  print(i,j)
  if j==3:            #here we have used the print statement before the continue so all elelments will print
    continue

0 1
0 2
0 3
0 4
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
for i in range(0,5):
 for j in range(1,5):
  print(i,j)
  if j==3:
    continue

0 1
0 2
0 3
0 4
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
for i in range(0,5):
 for j in range(1,5):
  if j==3:
    continue
  print(i,j)

0 1
0 2
0 4
1 1
1 2
1 4
2 1
2 2
2 4
3 1
3 2
3 4
4 1
4 2
4 4

In [ ]:
for i in range(1,10):
  if i==3:
    break
  else:
    print(i)

1
2

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j==3:
     break
    else:
     print(i,j)

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if j==3:
     continue
    else:
     print(i,j)

1 1
1 2
1 4
2 1
2 2
2 4
3 1
3 2
3 4
4 1
4 2
4 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==3:
     break
    else:
     print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
4 1
4 2
4 3
4 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==3:
     continue
    else:
     print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
4 1
4 2
4 3
4 4

In [1]:
for i in range(1,6):
  print(i*'*')

*
**
***
****
*****

In [8]:
for i in range(1,6):
  print(" "*(6-i)+i*"*")

     *
    **
   ***
  ****
 *****

In [10]:
##binary pattern program

In [14]:
for i in range(1,6):
  for j in range(1,i+1):
    print((i+j)%2,end=" ")
  print()

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [ ]:
## inverted number triangle

In [15]:
for i in range(1,6):
  for j in range(1,7-i):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
##checker board pattern

In [16]:
for i in range(1,6):
  for j in range(1,6):
    print((i+j)%2,end=" ")
  print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0